@import '@/app/globals.scss';

.body{
    padding: 4rem 0rem;
    display: flex;
    gap: 4rem;
    @media screen and (max-width: 780px) {
        flex-direction: column;
    }
}
.image{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    >img{
        margin-left: -1rem;
    }
    >h1{
        font-size: clamp(24px, 4vw, 44px);
        color: $orange;
        max-width: 32rem;
        @media screen and (min-width: 1230px) {
            display: none;
        }
        @media screen and (max-width: 780px) {
            max-width: 20rem;
        }
    }
}
.points{
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.cta{
    display: flex;
    align-items: center;
    gap: .5rem;
}