@import '@/app/globals.scss';

.header{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    h1{
        font-size: 32px;
        text-align: center;
        color: $black-color;
    }
    p{
        font-size: 16px;
        color: $text-desc;
        text-align: center;
    }
}
.staffDay{
    padding: 5rem 0rem;
    background: #fffaec;
}
.staffDayWrapper{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.staffDayCardWrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1rem;
    
}